<!DOCTYPE html>
<html lang="ru">
<meta charset="utf8">
<head>
    <title>Создание клиента</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <h2>Создание клиента и ролей</h2>
    <div id="spinner" style="display: none;">
        <!-- Спиннер -->
        <div class="spinner"></div>
    </div>
    <blockquote>Создает клиента и роли, сразу на нескольких Тестовых Зонах (TZ)</blockquote>
    <h3>Необходимые параметры:</h3>
    <form id="create_client_form" method="POST" action="/createclient" enctype="multipart/form-data">
        <label for="admin_name">Username Keycloak:</label><br>
        <input type="text" id="admin_name" name="admin_name" required><br>

        <label for="admin_password">Password Keycloak:</label><br>
        <input type="password" id="admin_password" name="admin_password" required><br>

        <div style="display: flex;">
            <div style="flex: 1;">
                <h3>Зоны выполнения:</h3>
                <div id="zones_container"></div>

                <h3>Укажите Realm:</h3>
                <select id="realm" name="realm"></select>
            </div>
            <div style="flex: 5;">
                <h3>Данные Клиента:</h3>
                    <label for="clientName">Короткое Имя (client_id):</label><br>
                    <input type="text" id="clientName" name="clientName" required><br>

                    <label for="clientSecret">Секрет клиента (secret):</label><br>
                    <input type="text" id="clientSecret" name="clientSecret"><br>

                    <label for="description">Номер заявки RFC\BSP:</label><br>
                    <input type="text" id="description" name="description" required><br>

                    <label for="roles" title="Можно указать несколько ролей, через запятую: role1,role2,role3">Роли:</label><br>
                    <input type="text" id="roles" name="roles"><br>

                    <label for="redirectUris">Redirect/Callback URL:</label><br>
                    <input type="text" id="redirectUris" name="redirectUris" required><br>

                    <label for="publicClient">Тип доступа:</label><br>
                    <select id="publicClient" name="publicClient">
                        <option value="false">Сonfidential</option>
                        <option value="true">Public</option>
                    </select><br>

                    <label for="toggle">Token exchange:</label>
                    <input type="checkbox" id="toggle" title="Имя целевого клиента например: api-gateway">
                    <input type="text" title="Имя целевого клиента например: api-gateway" class="tokenExchange" id="tokenExchange" name="tokenExchange" placeholder="Имя клиента: api-gateway" style="display:none;"><br>
            </div>
        </div><br>
        <input type="submit" class="button" value="Создать Client" onclick="validateAndSubmit(event)">
    </form>
        <form action="/"><br>
        <button type="submit" class="button">Главная страница</button>
    </form>
    <script src="{{ url_for('static', filename='load_data.js') }}"></script>
    <script>
        const toggleSwitch = document.getElementById('toggle');
        const textField = document.getElementById('tokenExchange');
        const createClientForm = document.getElementById('create_client_form');

        toggleSwitch.addEventListener('change', function() {
            if (this.checked) {
                textField.style.display = 'block';
                textField.required = true; // Добавляем обязательность к заполнению при активации чекбокса
            } else {
                textField.style.display = 'none';
                textField.required = false; // Убираем обязательность к заполнению при деактивации чекбокса
            }
        });

        function validateAndSubmit(event) {
            if (toggleSwitch.checked && !textField.value) {
                event.preventDefault(); // Предотвращаем отправку формы, если поле не заполнено при активированном чекбоксе
                alert('Пожалуйста, заполните поле "Token exchange".');
            }
            // У вас также нужно дописать проверки для других обязательных полей, если необходимо
        }

        function validateForm() {
            const checkboxes = document.querySelectorAll('input[name="server"]:checked');
            if (checkboxes.length < 1) {
                alert("Выберите хотя бы один сервер выполнения");
                return false;
            }

            var requiredFields = ["admin_name", "admin_password", "clientName", "description", "redirectUris"];
            var formValid = true;

            requiredFields.forEach(function(fieldId) {
                var field = document.getElementById(fieldId);

                if (field.value === "") {
                    field.classList.add("error");
                    formValid = false;
                } else {
                    field.classList.remove("error");
                }
            });

            return formValid;
        }


        function showSpinner() {
            // Показываем спиннер
            document.getElementById('spinner').style.display = 'block';

            // Отключаем отправку формы, чтобы спиннер продолжал показываться
            document.getElementById('create_client_form').onsubmit = function() {
                return false;
            };

            // Запускаем выполнение скрипта после задержки (для демонстрации спиннера)
            setTimeout(runScript, 2000);
        }

        function runScript() {
            // Включаем отправку формы
            document.getElementById('create_client_form').onsubmit = null;

            // Отправляем форму
            document.getElementById('create_client_form').submit();
        }
</script>
</body>
</html>